html, body {
    height: 100vh;

    /* to remove margin-right */
    /* margin-right: 1vw; */
    
    padding: 0;
}

.extend-whole-page {
    box-sizing: border-box;
    height: 100vh;
    /* align-items:stretch; */
    /* display: flex; */
}

.pink-bg {
    background-color: #ffeeef;
}

.grey-bg {
    background-color: #f4f4f4;
    padding: 1em;
    margin-top: 1.5em;
}

/* center, top */
.shop-info {
    background-color: white;
    margin: 1em;
    padding: 1em 0em 1em 0em;
    box-shadow: 0 4px 2px -2px gray;
}

.images {
    background-color: white;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 4px 2px -2px gray;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* * {
    border: 1px solid #f99a9a;
} */

