.links {
    margin-right: 50px;
    display: flex;
    align-items: center;
    transition: transform .2s; 
}

.links :hover {
    cursor: pointer;
}
  
.links a {
    text-decoration: none;
    color: #FDD0CF;
    margin-left: 20px;
    font-size: 25px;
}